body{
    background-color: #e9dcd0;
    position: fixed;
}
h2{
    font-family: Kreon;
    color:#53715a;
    padding-top: 15px;
    margin-left: 35px;
 
}
.container{
    box-sizing: border-box;
    width: 480px;
    height: 500px;
    background-color: #F9F6F4;
    margin: 55px 500px;
    border-radius: 10px;
    box-shadow: 8px 8px 4px #9d5b2b;
}

.text1{
    width: 300px;
    height: 40px;
    background: #e9dcd0;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 90px;
    padding-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
}

.text2{
    width: 300px;
    height: 40px;
    background: #e9dcd0;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 90px;
    padding-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}
h1{
    color: #53715a;
    padding-top: 110px;
    padding-left: 170px;
    font-family: Kreon;
    font-weight: lighter;
}
input{
    font-family: Kreon;
    font-size: medium;
}
.btn{
    width: 315px;
    height: 45px;
    margin-left: 90px;
    margin-top: 45px;
    border: none;
    border-radius: 5px;
    background-color: #53715a;
    font-family: Kreon;
    font-size: larger;
    color:#F9F6F4;
    transition: border-radius 3s;
    -webkit-transition: border-radius 2s;
}
.btn:hover{
    border-bottom-right-radius: 50px;
   border-top-left-radius: 50px;
   border-bottom-left-radius: 10px;
   border-top-right-radius: 10px;
   background-color: #4c6952;
}