body{
    background-color: #e9dcd0;
   
}
h1{
    float: inline-start;
    position:relative;
}

h2{
    font-family: Kreon;
    color:#53715a;
    padding-top: 15px;
    margin-left: 35px;
}

h3{
    color: #F9F6F4;
    padding-top: 12px;
    font-family: Kreon;
    font-weight: lighter;
    padding-left: 30px;
    text-justify: auto;
    display: table-cell;
    vertical-align: middle;
    
}


.container{
    box-sizing: border-box;
    width: 500px;
    height: 400px;
    background-color: #F9F6F4;
    margin: 90px 520px;
    border-radius: 10px;
    box-shadow: 8px 8px 4px #9d5b2b;
    
    
}

.rectangle1{
    width: 320px;
    height: 50px;
    background-color: #9d5b2b;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 70px;
    position: absolute;
    
    
}

.rectangle2{
    width: 320px;
    height: 50px;
    background-color: #9d5b2b;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 40px;
    position: absolute;
    
    
}
.rectangle3{
    width: 320px;
    height: 50px;
    background-color: #9d5b2b;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 40px;
    position: absolute;
    
    
}
.button1{
    height: 45px;
    width: 50px;
    margin-top: 72px;
    margin-left: 350px;
    background-color: #53715a;
    border: none;
    border-radius: 5px;
    font-size: x-large;
    color: #F9F6F4;
    
    
}

.button2{
    height: 45px;
    width: 50px;
    background-color: #53715a;
    border: none;
    border-radius: 5px;
    font-size:x-large;
    color: #F9F6F4;
}

.button3{
    height: 45px;
    width: 50px;
    margin-left: 350px;
    margin-top: 42px;
    background-color: #53715a;
    border: none;
    border-radius: 5px;
    font-size: x-large;
    color: #F9F6F4;
}

.button4{
    height: 45px;
    width: 50px;
    background-color: #53715a;
    border: none;
    border-radius: 5px;
    font-size: x-large;
    color: #F9F6F4;
}

.button5{
    height: 45px;
    width: 50px;
    background-color: #53715a;
    border: none;
    margin-left: 350px;
    margin-top: 42px;
    border-radius: 5px;
    font-size: x-large;
    color: #F9F6F4;
}

.button6{
    height: 45px;
    width: 50px;
    background-color: #53715a;
    border: none;
    border-radius: 5px;
    font-size: x-large;
    color: #F9F6F4;
}
button:hover{
    background-color: #3d5442;
}









